//output:products.html

doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title ИП Костин
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css')
  link(rel='stylesheet' href='../css/main.min.css')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;400;500&display=swap' rel='stylesheet')
html(lang="ru")
body
  mixin card (photo)
    .tovar(id='#{photo}')
      img(src="../img/#{photo}.jpg")
      h4 Батон типа
      .price 16р.
  .products_container
    include header.html
    .products_area
      - for( var i = 1; i<7; i++)
            +card(i)
            if i%3 == 0
              .spacer
  .modal
    .modal_container
      img()
      .modal_text
        h2 Батон Типа
        h4 всего 16.00 р.
        button.btn-cart Добавить в корзину
    .exit
    
  include footer.html
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
script(src='../js/index.js')
