//output: footer.html
footer.footer
  .contacts_area_hor
    .contacts_area_vert
      a(href="tel:8978546755") 897065745
      a(href="tel:8978546755") 847564755
    .contacts_area_vert
      a(href="mailto: papssdj@mail.ru") email
      a.adress adress
  .designed_by
    span Designed by IT Kitten Club ©️
    img(src="../img/logo.png")
    


script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
script(src='../js/index.js')
