//output:index.html

doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title ИП Костин
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css')
  link(rel='stylesheet' href='../css/main.min.css')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;400;500&display=swap' rel='stylesheet')
html(lang="ru")
body
  .main_page_container
    //- Include header 
    include header.html
    .text_area
      h3 Печем с любовью!
      | Продукция в наших пекарнях готовится
      br 
      | исключительно из натуральных продуктов
  //- Include footer
  include footer.html

    
  
